<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>Number</key>
            <string>1</string>
            <key>Name</key>
            <string>America</string>
        </dict>
        <dict>
            <key>Number</key>
            <string>1</string>
            <key>Name</key>
            <string>Canada</string>
        </dict>
        <dict>
            <key>Number</key>
            <string>7</string>
            <key>Name</key>
            <string>Russia</string>
        </dict>
        <dict>
            <key>Number</key>
            <string>7</string>
            <key>Name</key>
            <string>Kazakhstan</string>
        </dict>
        <dict>
            <key>Number</key>
            <string>20</string>
            <key>Name</key>
            <string>Egypt</string>
        </dict>
        <dict>
            <key>Number</key>
            <string>27</string>
            <key>Name</key>
            <string>South Africa</string>
        </dict>
        <dict>
            <key>Number</key>
            <string>30</string>
            <key>Name</key>
            <string>Greece</string>
        </dict>
        <dict>
            <key>Number</key>
            <string>31</string>
            <key>Name</key>
            <string>Netherlands</string>
        </dict>
        <dict>
            <key>Number</key>
            <string>32</string>
            <key>Name</key>
            <string>Belgium</string>
        </dict>
        <dict>
            <key>Number</key>
            <string>33</string>
            <key>Name</key>
            <string>France</string>
        </dict>
        <dict>
            <key>Number</key>
            <string>34</string>
            <key>Name</key>
            <string>Spain</string>
        </dict>
        <dict>
            <key>Number</key>
            <string>36</string>
            <key>Name</key>
            <string>Hungary</string>
        </dict>
        <dict>
            <key>Number</key>
            <string>38</string>
            <key>Name</key>
            <string>Yugoslavia</string>
        </dict>
        <dict>
            <key>Number</key>
            <string>39</string>
            <key>Name</key>
            <string>Italy</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>40</string>
                <key>Name</key>
                <string>Romania</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>41</string>
                <key>Name</key>
                <string>Switzerland</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>42</string>
                <key>Name</key>
                <string>Czechoslovakia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>43</string>
                <key>Name</key>
                <string>Austria</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>44</string>
                <key>Name</key>
                <string>Britain</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>45</string>
                <key>Name</key>
                <string>Denmark</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>46</string>
                <key>Name</key>
                <string>Sweden</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>47</string>
                <key>Name</key>
                <string>Norway</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>48</string>
                <key>Name</key>
                <string>Poland</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>49</string>
                <key>Name</key>
                <string>Germany</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>51</string>
                <key>Name</key>
                <string>Peru</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>52</string>
                <key>Name</key>
                <string>Mexico</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>53</string>
                <key>Name</key>
                <string>Cuba</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>54</string>
                <key>Name</key>
                <string>Argentina</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>55</string>
                <key>Name</key>
                <string>Brazil</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>56</string>
                <key>Name</key>
                <string>Chile</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>57</string>
                <key>Name</key>
                <string>Colombia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>58</string>
                <key>Name</key>
                <string>Venezuela</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>60</string>
                <key>Name</key>
                <string>Malaysia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>61</string>
                <key>Name</key>
                <string>Australia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>62</string>
                <key>Name</key>
                <string>Indonesia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>63</string>
                <key>Name</key>
                <string>The Philippines</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>64</string>
                <key>Name</key>
                <string>New Zealand</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>65</string>
                <key>Name</key>
                <string>Singapore</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>66</string>
                <key>Name</key>
                <string>Thailand</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>81</string>
                <key>Name</key>
                <string>Japan</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>82</string>
                <key>Name</key>
                <string>Korea</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>84</string>
                <key>Name</key>
                <string>Vietnam</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>86</string>
                <key>Name</key>
                <string>China</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>90</string>
                <key>Name</key>
                <string>Turkey</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>91</string>
                <key>Name</key>
                <string>India</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>92</string>
                <key>Name</key>
                <string>Pakistan</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>93</string>
                <key>Name</key>
                <string>Afghanistan</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>94</string>
                <key>Name</key>
                <string>Sri Lanka</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>95</string>
                <key>Name</key>
                <string>Burma</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>98</string>
                <key>Name</key>
                <string>Iran</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>211</string>
                <key>Name</key>
                <string>South Sudan</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>212</string>
                <key>Name</key>
                <string>Morocco</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>213</string>
                <key>Name</key>
                <string>Algeria</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>216</string>
                <key>Name</key>
                <string>Tunisia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>218</string>
                <key>Name</key>
                <string>Libya</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>220</string>
                <key>Name</key>
                <string>Gambia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>221</string>
                <key>Name</key>
                <string>Senegal</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>222</string>
                <key>Name</key>
                <string>Mauritania</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>223</string>
                <key>Name</key>
                <string>Mali</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>224</string>
                <key>Name</key>
                <string>Guinea</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>225</string>
                <key>Name</key>
                <string>Ivory Coast</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>226</string>
                <key>Name</key>
                <string>Burkina faso</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>227</string>
                <key>Name</key>
                <string>Niger</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>228</string>
                <key>Name</key>
                <string>Togo</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>229</string>
                <key>Name</key>
                <string>benin</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>230</string>
                <key>Name</key>
                <string>Mauritius</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>231</string>
                <key>Name</key>
                <string>Liberia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>232</string>
                <key>Name</key>
                <string>Sierra leone</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>233</string>
                <key>Name</key>
                <string>Ghana</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>234</string>
                <key>Name</key>
                <string>Nigeria</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>235</string>
                <key>Name</key>
                <string>Chad</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>236</string>
                <key>Name</key>
                <string>Central African Republic </string>
            </dict>
            <dict>
                <key>Number</key>
                <string>237</string>
                <key>Name</key>
                <string>Cameroon</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>238</string>
                <key>Name</key>
                <string>Cape Verde</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>239</string>
                <key>Name</key>
                <string>SAO tome and principe</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>240</string>
                <key>Name</key>
                <string>Equatorial Guinea</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>241</string>
                <key>Name</key>
                <string>Gabon</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>242</string>
                <key>Name</key>
                <string>Republic of the Congo</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>243</string>
                <key>Name</key>
                <string>Democratic Republic of the Congo</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>244</string>
                <key>Name</key>
                <string>Angola</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>245</string>
                <key>Name</key>
                <string>Guinea Bissau</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>246</string>
                <key>Name</key>
                <string>Diego Garcia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>247</string>
                <key>Name</key>
                <string>Ascension</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>248</string>
                <key>Name</key>
                <string>Seychelles</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>249</string>
                <key>Name</key>
                <string>Sudan</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>250</string>
                <key>Name</key>
                <string>Rwanda</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>251</string>
                <key>Name</key>
                <string>Ethiopia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>252</string>
                <key>Name</key>
                <string>Somalia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>253</string>
                <key>Name</key>
                <string>Djibouti</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>254</string>
                <key>Name</key>
                <string>Kenya</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>255</string>
                <key>Name</key>
                <string>Tanzania</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>256</string>
                <key>Name</key>
                <string>Uganda</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>257</string>
                <key>Name</key>
                <string>Burundi</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>258</string>
                <key>Name</key>
                <string>Mozambique</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>259</string>
                <key>Name</key>
                <string>Zanzibar</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>260</string>
                <key>Name</key>
                <string>Zambia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>261</string>
                <key>Name</key>
                <string>Madagascar</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>262</string>
                <key>Name</key>
                <string>Reunion</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>263</string>
                <key>Name</key>
                <string>Zimbabwe</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>264</string>
                <key>Name</key>
                <string>Namibia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>265</string>
                <key>Name</key>
                <string>Malawi</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>266</string>
                <key>Name</key>
                <string>Lesotho</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>267</string>
                <key>Name</key>
                <string>Botswana</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>268</string>
                <key>Name</key>
                <string>Swaziland</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>269</string>
                <key>Name</key>
                <string>Comoros and Mayotte</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>290</string>
                <key>Name</key>
                <string>St Helena</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>291</string>
                <key>Name</key>
                <string>Eritrea</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>297</string>
                <key>Name</key>
                <string>Aruba</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>298</string>
                <key>Name</key>
                <string>The faroe islands</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>299</string>
                <key>Name</key>
                <string>Greenland</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>350</string>
                <key>Name</key>
                <string>Gibraltar</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>351</string>
                <key>Name</key>
                <string>Portugal</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>352</string>
                <key>Name</key>
                <string>Luxembourg</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>353</string>
                <key>Name</key>
                <string>Ireland</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>354</string>
                <key>Name</key>
                <string>Iceland</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>355</string>
                <key>Name</key>
                <string>Albania</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>356</string>
                <key>Name</key>
                <string>Malta</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>357</string>
                <key>Name</key>
                <string>Cyprus</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>358</string>
                <key>Name</key>
                <string>Finland</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>359</string>
                <key>Name</key>
                <string>Bulgaria</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>370</string>
                <key>Name</key>
                <string>Lithuania</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>371</string>
                <key>Name</key>
                <string>Latvia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>372</string>
                <key>Name</key>
                <string>Estonia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>373</string>
                <key>Name</key>
                <string>Moldova</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>374</string>
                <key>Name</key>
                <string>Armenia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>375</string>
                <key>Name</key>
                <string>Belarus</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>376</string>
                <key>Name</key>
                <string>Andorra</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>377</string>
                <key>Name</key>
                <string>Monaco</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>378</string>
                <key>Name</key>
                <string>San Marino</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>379</string>
                <key>Name</key>
                <string>Vatican</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>380</string>
                <key>Name</key>
                <string>Ukraine</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>381</string>
                <key>Name</key>
                <string>Serbia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>382</string>
                <key>Name</key>
                <string>Montenegro</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>384</string>
                <key>Name</key>
                <string>Kosovo</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>385</string>
                <key>Name</key>
                <string>Croatia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>386</string>
                <key>Name</key>
                <string>Slovenia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>387</string>
                <key>Name</key>
                <string>Bosnia and Herzegovina</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>389</string>
                <key>Name</key>
                <string>Macedonia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>420</string>
                <key>Name</key>
                <string>Czech Republic</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>421</string>
                <key>Name</key>
                <string>Slovakia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>423</string>
                <key>Name</key>
                <string>Liechtenstein</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>500</string>
                <key>Name</key>
                <string>The falkland islands</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>501</string>
                <key>Name</key>
                <string>Belize</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>502</string>
                <key>Name</key>
                <string>Guatemala</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>503</string>
                <key>Name</key>
                <string>Salvador</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>504</string>
                <key>Name</key>
                <string>Honduras</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>505</string>
                <key>Name</key>
                <string>Nicaragua</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>506</string>
                <key>Name</key>
                <string>Costa Rica</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>507</string>
                <key>Name</key>
                <string>Panama</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>508</string>
                <key>Name</key>
                <string>Saint Pierre and Miquelon</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>509</string>
                <key>Name</key>
                <string>Haiti</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>590</string>
                <key>Name</key>
                <string>Guadeloupe</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>591</string>
                <key>Name</key>
                <string>Bolivia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>592</string>
                <key>Name</key>
                <string>Guyana</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>593</string>
                <key>Name</key>
                <string>Ecuador</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>594</string>
                <key>Name</key>
                <string>French Guiana</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>595</string>
                <key>Name</key>
                <string>Paraguay</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>596</string>
                <key>Name</key>
                <string>Martinique</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>597</string>
                <key>Name</key>
                <string>Surinam</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>598</string>
                <key>Name</key>
                <string>Uruguay</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>599</string>
                <key>Name</key>
                <string>Caribbean region of Holland
                    
                </string>
            </dict>
            <dict>
                <key>Number</key>
                <string>599</string>
                <key>Name</key>
                <string>The Saint Martin</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>670</string>
                <key>Name</key>
                <string>East Timor</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>671</string>
                <key>Name</key>
                <string>Guam</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>672</string>
                <key>Name</key>
                <string>Antarctica</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>673</string>
                <key>Name</key>
                <string>Brunei</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>674</string>
                <key>Name</key>
                <string>Nauru</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>675</string>
                <key>Name</key>
                <string>Papua New Guinea</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>676</string>
                <key>Name</key>
                <string>Tonga</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>677</string>
                <key>Name</key>
                <string>Solomon Islands</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>678</string>
                <key>Name</key>
                <string>Vanuatu</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>679</string>
                <key>Name</key>
                <string>Fiji</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>680</string>
                <key>Name</key>
                <string>Palau</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>681</string>
                <key>Name</key>
                <string>Wallis and Futuna Islands</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>682</string>
                <key>Name</key>
                <string>Cook Islands</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>683</string>
                <key>Name</key>
                <string>Niue</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>684</string>
                <key>Name</key>
                <string>American Samoa</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>685</string>
                <key>Name</key>
                <string>Samoa</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>686</string>
                <key>Name</key>
                <string>Kiribati</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>687</string>
                <key>Name</key>
                <string>New Caledonia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>688</string>
                <key>Name</key>
                <string>Tuvalu</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>688</string>
                <key>Name</key>
                <string>Ellis Islands
                    
                    
                </string>
            </dict>
            <dict>
                <key>Number</key>
                <string>689</string>
                <key>Name</key>
                <string>French Polynesia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>690</string>
                <key>Name</key>
                <string>Tokelau</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>691</string>
                <key>Name</key>
                <string>Federated States of Micronesia </string>
            </dict>
            <dict>
                <key>Number</key>
                <string>692</string>
                <key>Name</key>
                <string>Marshall Islands</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>850</string>
                <key>Name</key>
                <string>North Korea</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>852</string>
                <key>Name</key>
                <string>Hong Kong</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>853</string>
                <key>Name</key>
                <string>Macao</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>855</string>
                <key>Name</key>
                <string>Cambodia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>856</string>
                <key>Name</key>
                <string>Laos</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>880</string>
                <key>Name</key>
                <string>Bangladesh</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>881</string>
                <key>Name</key>
                <string>Mobile satellite system</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>882</string>
                <key>Name</key>
                <string>international network</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>886</string>
                <key>Name</key>
                <string>Taiwan</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>960</string>
                <key>Name</key>
                <string>Maldives</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>961</string>
                <key>Name</key>
                <string>Lebanon</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>962</string>
                <key>Name</key>
                <string>Jordan</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>963</string>
                <key>Name</key>
                <string>Syria</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>964</string>
                <key>Name</key>
                <string>Iraq</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>965</string>
                <key>Name</key>
                <string>Kuwait</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>966</string>
                <key>Name</key>
                <string>Saudi Arabia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>967</string>
                <key>Name</key>
                <string>Yemen</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>968</string>
                <key>Name</key>
                <string>Oman</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>970</string>
                <key>Name</key>
                <string>Palestine</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>971</string>
                <key>Name</key>
                <string>The United Arab Emirates </string>
            </dict>
            <dict>
                <key>Number</key>
                <string>972</string>
                <key>Name</key>
                <string>Israel</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>973</string>
                <key>Name</key>
                <string>Bahrain</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>974</string>
                <key>Name</key>
                <string>Qatar</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>975</string>
                <key>Name</key>
                <string>Bhutan</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>976</string>
                <key>Name</key>
                <string>Mongolia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>977</string>
                <key>Name</key>
                <string>Nepal</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>979</string>
                <key>Name</key>
                <string>International rate service</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>992</string>
                <key>Name</key>
                <string>Tajikistan</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>993</string>
                <key>Name</key>
                <string>Turkmenistan</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>994</string>
                <key>Name</key>
                <string>Azerbaijan</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>995</string>
                <key>Name</key>
                <string>Georgia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>996</string>
                <key>Name</key>
                <string>Kyrgyzstan</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>998</string>
                <key>Name</key>
                <string>Uzbekistan</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1242</string>
                <key>Name</key>
                <string>Panama</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1246</string>
                <key>Name</key>
                <string>Barbados</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1264</string>
                <key>Name</key>
                <string>Anguilla</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1268</string>
                <key>Name</key>
                <string>Antigua and Barbuda</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1340</string>
                <key>Name</key>
                <string>The United States Virgin Islands
                    
                </string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1345</string>
                <key>Name</key>
                <string>The Cayman Islands</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1441</string>
                <key>Name</key>
                <string>Bermuda</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1473</string>
                <key>Name</key>
                <string>Grenada</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1649</string>
                <key>Name</key>
                <string>Turks and Caicos Islands </string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1664</string>
                <key>Name</key>
                <string>Montserrat</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1670</string>
                <key>Name</key>
                <string>Northern Mariana Islands </string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1671</string>
                <key>Name</key>
                <string>Guam</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1758</string>
                <key>Name</key>
                <string>Saint Lucia</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1767</string>
                <key>Name</key>
                <string>Dominic</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1784</string>
                <key>Name</key>
                <string>Saint Vincent and the grenadines </string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1787</string>
                <key>Name</key>
                <string>Puerto Rico</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1809</string>
                <key>Name</key>
                <string>Dominican Republic</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1868</string>
                <key>Name</key>
                <string>Trinidad and Tobago</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1869</string>
                <key>Name</key>
                <string>Saint Kitts and Nevis</string>
            </dict>
            <dict>
                <key>Number</key>
                <string>1876</string>
                <key>Name</key>
                <string>Jamaica</string>
            </dict>
            <dict></dict>
        </array>
    </plist>
    
    
